<link rel="stylesheet" type="text/css" href="/css/footer.css"/>
<footer class="footer container-fluid">
    <div class="container extraSpace">
        <ul class="centerLinks socialIcons">
            <li style="display:inline-block">
                <a href="https://www.youtube.com/channel/UCDrekHmOnkptxq3gUU0IyfA"><img src="/images/icons/youtube.png"></img></a>
            </li>
            <li style="display:inline-block">
                <a href="https://twitter.com/DevonCrawford13"><img src="/images/icons/twitter.png"></img></a>
            </li>
            <li style="display:inline-block">
                <a href="https://www.snapchat.com/add/devoncrawfordyt"><img src="/images/icons/snapchat.png"></img></a>
            </li>
            <li style="display:inline-block">
                <a href="https://www.instagram.com/devoncrawford_/"><img src="/images/icons/instagram.png"></img></a>
            </li>
            <li style="display:inline-block">
                <a href="https://github.com/devoncrawford"><img src="/images/icons/github.png"></img></a>
            </li>
            <li style="display:inline-block">
                <a href="https://www.linkedin.com/in/devon-crawford-463592130/"><img src="/images/icons/linkedIn.png"></img></a>
            </li>
            <li style="display:inline-block">
                <a href="/contact"><img src="/images/icons/email.png"></img></a>
            </li>
        </ul>
        <p class="footerText subP">Email me with any suggestions,
        collaborations, or just to talk!<br>devon@devoncrawford.io</p>
    </div>
    <div class="bottomLinksDiv">
        <div class="container">
            <div class="row">
                <div class="col-6 col-md">
                    <a href="/">Home</a>
                </div><div class="col-md rm"><p>|</p></div>
                <div class="col-6 col-md" >
                    <a href="/software">Software</a>
                </div><div class="col-md rm"><p>|</p></div>
                <div class="col-6 col-md">
                    <a href="/electronics">Electronics</a>
                </div><div class="col-md rm"><p>|</p></div>
                <div class="col-6 col-md">
                    <a href="/films" style="text-align: center">Films</a>
                </div><div class="col-md rm"><p>|</p></div>
                <div class="col-6 col-md">
                    <a href="/photography">Photography</a>
                </div><div class="col-md rm"><p>|</p></div>
                <div class="col-6 col-md">
                    <a href="/contact">Contact</a>
                </div>
            </div>
        </div>
    </div>
</footer>
<script src="/scripts/footerShift.js" type="text/javascript"></script>
