<title>Devon Crawford</title>

<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link rel="stylesheet" href="/includes/bootstrap.min.css">

<!-- Custom spacing and fonts that are often reused -->
<link rel="stylesheet" href="/css/spacing.css" type="text/css">
<link rel="stylesheet" href="/css/fonts.css" type="text/css">
<link rel="stylesheet" href="/css/main.css" type="text/css">

<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="/includes/popper.min.js"></script>
<script src="/includes/jquery.min.js"></script>
<script src="/includes/bootstrap.min.js"></script>
