<link rel="stylesheet" type="text/css" href="/css/nav.css"/>
<nav class="navbar fixed-top navbar-expand-lg toggle-height" id="global-nav">
     <div class="container">
    <a class="navbar-brand scrollN" href="/">Devon Crawford</a>
    <button class="navbar-toggler custom-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon custom-toggler"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li> <a class="nav-link scrollN" href="/software/">Software</a></li>
        <li> <a class="nav-link scrollN" href="/electronics/">Electronics</a></li>
        <li><a class="nav-link scrollN" href="/films/">Films</a></li>
        <li><a class="nav-link scrollN" href="/photography/">Photography</a></li>
      </ul>
      <ul class="navbar-nav">
          <li><a class="nav-link scrollN" href="/contact">Contact</a></li>
      </ul>
    </div>
     </div>
 </nav>
 <script type="text/javascript" src="/scripts/nav.js"></script>

 <!-- Testing random additions for github in atom -->
