<link rel="stylesheet" type="text/css" href="css/confirm.css"/>

<div class="back">
    <div class="center cenX">
        <h1 class="titleMain">INVALID INPUT</h1>
        <h3 class="regTitle padB40">Email and message are required fields. Try again.</h3>
    </div>
</div>
