<% var rootPath = '../../'; %>
<!DOCTYPE HTML>
<html>
    <head>
        <%- include(rootPath + 'partials/includes'); %>
    </head>
    <body>
        <%- include(rootPath + 'partials/nav'); %>
        <link rel="stylesheet" href="css/page.css">

        <div class="homeImg container-fluid">
            <div class="homeDiv center container">
                <h1 class="titleMain cenX">CODE REPOSITORY</h1>

                <div class="row rowBackSS"></div>
                <h3 class="subTitle" id="here">JAVA | C | EMBEDDED | WEB DESIGN</h3>
            </div>

            <div class="homeSouth">
                <h4><a class="stealthLink subTitle pad0" href="#">VIEW PROJECTS</a></h4>
                <button class="smoothScrollBtn" type="button"><img src="/images/Down-Arrow.png" width="30"/></button>
            </div>
        </div>

        <a class="anchor" id="top"></a>

        <div class="container-fluid sec temp">
            <div class="container">
                <div class="borderProj">
                    <a href="timelapse-auto-ramp" class="noColor">
                        <div class="row">
                            <div class="col-lg-4 col-md-12">
                                <span class="helper"></span><img src="timelapse-auto-ramp/results/thumbs/sunset-cmp.jpg" class="projImg"></img>
                            </div>
                            <div class="projText col-lg-8 col-md-12">
                                <h3 class="regTitle">TIMELAPSE AUTO-RAMP | JAVA</h3>
                                <p class="subP pad0 italic">a photoshop plugin</p>
                                <!-- <?php
                                    $content = "Identifies exposure changes over a sequence of images, and evenly applies offset
                                    calculations to combat exposure changes. Creating a perfectly exposed timelapse video suitable for
                                    difficult lighting conditions such as sunrise";

                                    $content = substr($content, 0, 302) . " ...";

                                    echo '<p class="subP desc" data-desc="timelapse-auto-ramp">' . $content . '</p>';

                                 ?> -->
                                 <p class="subP desc" data-desc="timelapse-auto-ramp"></p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="borderProj">
                    <a href="pathfinding" class="noColor">
                        <div class="row">
                            <div class="col-lg-4 col-md-12">
                                <span class="helper"></span><img src="images/standard-fix.gif" class="projImg"></img>
                            </div>
                            <div class="projText col-lg-8 col-md-12">
                                <h3 class="regTitle">A* PATHFINDING VISUAL.. | JAVA</h3>
                                <!-- <?php
                                    $content = "Developed dynamic map creation system from scratch, created visualization
                                    (Swing GUI) to display live data, animation, speed control and timed algorithm analysis";

                                    $content = substr($content, 0, 302) . " ...";

                                    echo '<p class="subP desc">' . $content . '</p>';
                                 ?> -->
                                 <p class="subP desc" data-desc="pathfinding"></p>

                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>

        <div class="container-fluid backDark sec">
            <div class="container">
                <h3 class="subTitle white">MY GOAL</h3>
                 <p class="subText white extPad">
                     I have been developing software since 2015 with a deep understanding of core
                     computer science principles ranging from low-level algorithms and data structures
                      in C, to object-oriented design in Java, Arduino and embedded software, assembly
                      code, and obviously web design. I have a keen eye for automating processes
                      especially in the multimedia field as I am both a software developer and a
                      filmmaker/photographer. Combining this knowledge I have developed multimedia
                      tools such as a Timelapse plugin for Adobe Photoshop, batch processing of
                      YouTube video descriptions, and embedded software to control the circuitry of
                      physical technology. All the work on this website are personal projects I
                      developed in my spare time, which you may use for free and view all the source
                      code on github! I have a very entrepreneurial spirit and enjoy solving meaningful
                       problems in a simplistic and lightweight approach.</p>
            </div>
        </div>

        <div class="container-fluid sec">
            <div class="container">
                <h3 class="subTitle">TECHNICAL SKILLS</h3>
                <h3 class="subTitle">JAVA</h3>
                <p class="subP">My first programming language.<br/><br/>
                    Java is my go to for object oriented design with 3 years of experience in my personal
                    projects. Most of my multimedia tools are written in Java, as well as graphics
                    interface applications. Recently I have been extending the YouTube API to implement
                     missing features and autonomous processes, as well as Photoshop Plugins and an A*
                     pathfinding visualization. I will continue using Java for agile development at a
                     high level. Learn more about my Java project development <a href="/software#top">here.</a></p>
            </div>

            <div class="container">
                <h3 class="subTitle">C</h3>
                <p class="subP">Low-level design excites me because you become very close to the hardware
                     and can exploit significant performance improvements. I am very interested in
                     constructing libraries and data structures at a low-level, as well as transforming
                      low level constructs from assembly to C and implementing high level constructs from
                       C to Java and so on. I enjoy the concept of manual memory management and use it to
                        my advantage, bringing significant performance improvements in the design of algorithms. </p>
            </div>

            <div class="container">
                <h3 class="subTitle">EMBEDDED</h3>
                <p class="subP">In the past year I have used Arduino to connect real life circuitry with
                     my software. It has been very rewarding to control physical technology with my code.
                     I am currently taking on many autonomous projects while designing the circuitry and
                     software from the ground up. From an air conditioner simply because my room didn’t
                     have one, to an autonomous battery testing robot, and the brains of an electric smart
                      bicycle (coming soon). During last semester in my favourite course we analyzed and coded
                       high level C constructs in assembly code (such as recursive functions). Understanding
                       the stack and memory at its lowest level gave the greatest insight on the "magic"
                       that goes on inside a computer and was the greatest eye opener on programming.</p>

            </div>

            <div class="container">
                <h3 class="subTitle">HTML, CSS, JAVASCRIPT, BOOTSTRAP</h3>
                <p class="subP">I decided to build this website from scratch (just a text editor), so that I can gain a
                    better understanding of the technology. I will soon be implementing some of my programs on the web,
                    to make it easily accessible to a wider audience. Front end is not my strongest aspect, so this website
                    allowed me to further experiment outside of my comfort zone.</p>
            </div>
        </div>

        <div class="container-fluid btnLinks extPad">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-4 bot">
                        <div class="leftCenter">
                            <h3 class="sub2">FOUND A BUG?</h3>
                            <p class="subText">Let me know</p>
                            <a class="btn btn-success btn-lg w100" href="https://github.com/DevonCrawford" role="button">Github</a>
                        </div>
                    </div>
                    <div class="col-md-4 bot">
                        <div class="leftCenter">
                            <h3 class="sub2">CONTRIBUTE</h3>
                            <p class="subText">Take part in the project</p>
                            <a class="btn btn-secondary btn-lg w100" href="/contact" role="button">Contact Me</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <%- include(rootPath + 'partials/footer'); %>
        <script type="text/javascript" src="scripts/shift.js"></script>
        <script type="text/javascript" src="/scripts/fetchDesc.js"></script>
    </body>
</html>
