<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="css/page.css"/>
    <% include ../partials/includes %>
  </head>
  <body>
    <% include ../partials/nav %>
    <div class="homeImg">
        <div class="homeDiv center">
            <h1 class="titleMain">DEVON CRAWFORD</h1>
            <h3>an electronics hobbyist passionate for innovative technology and digital content</h3>
        </div>
        <div class="homeSouth">
            <h4><a class="stealthLink subPmin padX0" href="#">Read More</a></h4>
            <button class="smoothScrollBtn" type="button"><img src="/images/Down-Arrow-White.png" width="30"/></button>
        </div>
    </div>

    <div class="container-fluid aboutMe" >
        <div class="container aboutMe">
            <div class="row rowPad" >
                <div class="col-md-4">
                    <img src="/images/IMG_1964_cmp.jpg" class="circleImg"></img>
                </div>
                <div class="col-md-8">
                    <p class="pad20">Welcome to my website. I am an electronics hobbyist,
                        digital content creator, and a second year computer
                        science student at the University of Guelph. In the
                        past few years I have worked on many independent
                        projects alongside my formal education. My goal is to develop
                        innovative solutions in the multimedia and automation industries through my combined software and hardware experience.
                        I have advanced knowledge in Java and C, experience designing custom electronic circuits/robotics,
                        as well as building this website using responsive web technologies.
                        Additionally, I am a hobbyist filmmaker and photographer, and have been sharing my stories on
                        YouTube since 2012. I created this site to share my interests, as they evolve,
                        and connect with like minded individuals.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid softwareImg">
        <div class="container softwareDiv">
            <h1 class="leftTitle subTitle white" style="padding-top: 0px">SOFTWARE</h1>
            <div class="row">
                <div class="col-md-6 tilePadWide softTileBack col1Pad">
                    <h3 class="white regTitle cenX">JAVA</h3>
                    <h5 class="tileDesc subPmin white">3 years object oriented design of
                        multimedia tools, data structures, and user interfaces</h5>
                    <ul class="centerLinks">
                        <li style="display:inline-block;">
                            <a href="software/timelapse-auto-ramp"><p style="border-width:0px" id="PSDPlug">Timelapse Photoshop Plugin</p></a>
                        </li>
                        <li class="brText"><p>|</p></li>
                        <li style="display:inline-block;">
                            <a href="/software#top"><p>View all projects</p></a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-6 tilePadWide softTileBack col2Pad">
                    <h3 class="white regTitle cenX">C</h3>
                    <h5 class="tileDesc subPmin white">2 years developing efficient low-level
                    algorithms and data structures using Linux (Ubuntu) terminal</h5>
                    <ul class="centerLinks">
                        <li style="display:inline-block;">
                            <a href="software/pathfinding"><p style="border-width:0px" id="pathLink">A* Pathfinding Command Line</p></a>
                        </li>
                        <li class="brText"><p>|</p></li>
                        <li style="display:inline-block;">
                            <a href="software#top"><p>View all projects</p></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 tilePadWide softTileBack col1Pad">
                    <h3 class="white regTitle cenX">EMBEDDED</h3>
                    <h5 class="tileDesc subPmin white">1 year microcontroller programming and
                        circuit design for Arduino, and assembly programs on a 68KMB</h5>
                    <ul class="centerLinks">
                        <li style="display:inline-block;">
                            <a href="electronics/air-conditioner-DIY"><p style="border-width:0px">DIY Air Conditioner</p></a>
                        </li>
                        <li class="brText"><p>|</p></li>
                        <li style="display:inline-block;">
                            <a href="electronics#top"><p>View all projects</p></a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-6 tilePadWide softTileBack col2Pad">
                    <h3 class="white regTitle cenX">WEB</h3>
                    <h5 class="tileDesc subPmin white">Experience with HTML, CSS, Javascript and bootstrap
                    to create this responsive website</h5>
                </div>
                <a class="btn btn-outline-secondary btn-lg centerBtn" href="software" role="button">Learn More</a>
            </div>
        </div>
    </div>

    <div class="container-fluid electronicsBack">
        <div class="container extraSpace">
            <h2 class="centerTitle subTitle padX0 padtop0">ELECTRONICS</h2>
            <div class="row">
                <div class="col-lg-4 tilePadWide">
                    <div>
                        <h3 class= "cenX subTitle padX0">ELECTRIC FAT BICYCLE</h3>
                        <h5 class="tileDesc subPmin">Using recycled 18650 cells, I'm building a
                            high powered electric bicycle for under $500. In progress.</h5>
                    </div>
                </div>
                <div class="col-lg-4 tilePadWide">
                    <div>
                        <h3 class="cenX subTitle padX0">BATTERY TECHNOLOGY</h3>
                        <h5 class="tileDesc subPmin">Custom design of low power protection
                        circuits that are scalable and cheap, for 18650 cells</h5>
                    </div>
                </div>
                <div class="col-lg-4 tilePadWide">
                    <div>
                        <h3 class="cenX subTitle padX0">HIGH FREQUENCY & VOLTAGE</h3>
                        <h5 class="tileDesc subPmin">Coming soon in future projects!</h5>
                    </div>
                </div>
                <a class="btn btn-secondary btn-lg centerBtn" href="electronics" role="button">Learn More</a>

            </div>
        </div>
    </div>

    <div class="container-fluid videoBack">
        <div class="container padY60 padX0">
            <h2 class="leftTitle whiteText subTitle padtop0">FILMS</h2>
            <div class="row">
                <div class="col-lg-2 tilePadMin">
                    <div class="centerDiv">
                        <h3 class= "odometer tileTitle odoSubs whiteText" id="odometer" style="display:block">0</h3>
                        <h5 class="tileDesc whiteText">Subscribers</h5>
                    </div>
                </div>
                <div class="col-lg-2 tilePadMin">
                    <div class="centerDiv">
                        <h3 class="odometer tileTitle odoViews whiteText" style="display:block">0</h3>
                        <h5 class="tileDesc whiteText">Views</h5>
                    </div>
                </div>
                <div class="col-lg-4 tilePadMin">
                    <div class="centerDiv">
                        <h3 class="tileTitle whiteText">5+ years</h3>
                        <h5 class="tileDesc whiteText">Creating digital content</h5>
                    </div>
                </div>
                <div class="col-lg-2 tilePadMin">
                    <div class="centerDiv">
                        <h3 class="tileTitle whiteText">Partner</h3>
                        <h5 class="tileDesc whiteText">with Much Studios</h5>
                    </div>
                </div>
                <div class="col-lg-2 tilePadMin">
                    <div class="centerDiv">
                        <h3 class="tileTitle whiteText">500+</h3>
                        <h5 class="tileDesc whiteText">Videos</h5>
                    </div>
                </div>
                <a class="btn btn-lg centerBtn learnFilmsBtn" href="films" role="button">Learn More</a>
            </div>
        </div>
    </div>

    <div class="container-fluid photoBack">
        <div class="w-100">
            <div class="container photoDiv extraSpace">
                <h2 class="subTitle padX0 padtop0 cenX">PHOTOGRAPHY</h2>
                <div class="row">
                    <div class="col-lg-4 tilePadMin padY40">
                        <div class="centerDiv">
                            <h3 class= "cenX subTitle padX0" style="display:block">MANUAL</h3>
                            <h5 class="tileDesc">Self taught manual photography since 2012</h5>
                        </div>
                    </div>
                    <div class="col-lg-4 tilePadMin padY40">
                        <div class="centerDiv">
                            <h3 class="cenX subTitle padX0" style="display:block">PLUGINS</h3>
                            <h5 class="tileDesc">Professional timelapses with my <a href="software/timelapse-auto-ramp">Photoshop Plugin</a>,
                            to assist photographers shooting timelapses in difficult lighting conditions</h5>
                        </div>
                    </div>
                    <div class="col-lg-4 tilePadMin padY40">
                        <div class="centerDiv">
                            <h3 class="cenX subTitle padX0" style="display:block">100+</h3>
                            <h5 class="tileDesc">Timelapses<br>shot in the past 3 years</h5>
                        </div>
                    </div>
                    <a class="btn btn-primary btn-lg centerBtn learnPhotoBtn" href="photography" role="button" onmouseover="mouseOver()" onmouseout="mouseOver()">Learn More</a>
                </div>
            </div>
        </div>
    </div>
    <% include ../partials/footer %>
    <script src="includes/jquery.min.js"></script>
    <!-- Odometr includes -->
    <link rel="stylesheet" href="includes/odometer-theme-default.css"/>
    <script src="includes/odometer.js"></script>
    <script type="text/javascript" src="scripts/main.js"></script>
  </body>
</html>
