body, html {
    height: 100%;
    margin: 0;
}

.homeImg {
    /* background-image: url("/images/IMG_2134.jpg"); */
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

a.anchor {
    display: block;
    position: relative;
    top: -250px;
    visibility: hidden;
}

.rowBackSS {
    background-image: url("/images/IMG_2134.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 240px;
}

.titleMain {
    padding-bottom: 80px;
}

.backW {
    padding-left: 15px;
    background-color: white;
}

body .scrollN, body .scrollN:hover {
    color: #101010;
}

.smoothScrollBtn {
    color: #101010;
    margin-top: -20px;
    position: relative;
    border: none;
    background: none;
    font-size: 3em;
}

.smoothScrollBtn:focus {
    outline: 0;
}

.stealthLink, .stealthLink:focus, .stealthLink:hover {
    color: #101010;
    outline: 0;
    text-decoration: none;
    font-family: "Gravity-Regular";
}

.homeSouth {
    text-align: center;
    position: absolute;
    left: calc(50% - 160px);
    top: calc(100% - 120px);
}

.projImg {
    width: 100%;
    vertical-align: middle;
    border: 1px solid #101010;
}

.helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.noColor, .noColor:hover {
    color: inherit;
    text-decoration: none;
}



.desc {
    padding: 0px;
    padding-top: 40px;
}

.temp .row {
    padding: 30px;
    border-radius: 5px;
    border: 2px solid #101010;
}

.borderProj {
    padding-left: 70px;
    padding-right: 70px;
}

.borderProj .row, .borderProj h3, .borderProj p {
  -webkit-transition: -webkit-transform .15s ease;
  -moz-transition: -moz-transform .15s ease;
  -o-transition: -o-transform .15s ease;
  -ms-transition: -ms-transform .15s ease;
  transition: transform .15s ease;
  position: relative;
}
.borderProj .row:hover, .borderProj h3, .borderProj p {
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -o-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
  z-index: 5;
}

.temp .subTitle {
    padding-bottom: 100px;
}

.borderProj {
    padding-bottom: 60px;
}

.pad0 {
    padding: 0px;
    margin: 0px;
}

.italic {
    font-style: italic;
}

.ttt {
    margin: 0px;
    font-family: 'Gravity-Regular';
    font-size: 1em;
    letter-spacing: 3px;
    text-align: center;
    padding-top: 20px;
}

.listPad {
    padding-left: 20px;
    padding-right: 0px;
}

.homeDiv .subTitle {
    text-align: center;
}

@media (max-width: 991px) {
    .projText {
        display: table;

        padding-top: 40px;
    }
}

@media (max-width: 767px) {
    .borderProj {
        padding-left: 0px;
        padding-right: 0px;
    }
}

@media (max-width: 600px) {
    .titleMain {
        font-size: 2em;
        letter-spacing: 5px;
    }
}

@media (max-width: 325px) {
    .titleMain {
        font-size: 2em;
        letter-spacing: 0px;
    }
}

@media (max-height: 780px) {
    .titleMain {
        padding-bottom: 10px;
    }
    .rowBackSS {
        height: 160px;
    }
    .homeDiv .subTitle {
        font-size: 1em;
        padding-top: 10px;
    }
    .homeSouth {
        top: calc(100% - 80px);
    }

}
