<% var rootPath = '../../'; %>
<!DOCTYPE HTML>
<html>
    <head>
        <%- include(rootPath + 'partials/includes'); %>
    </head>
    <body>
        <%- include(rootPath + 'partials/nav'); %>
        <link rel="stylesheet" href="css/page.css">

        <div class="homeImg container-fluid">
            <div class="homeDiv center container">
                <h1 class="titleMain cenX">PHOTOGRAPHY</h1>

                <div class="row rowBackSS"></div>
                <h3 class="subTitle cenX padX0">COMING SOON..</h3>
            </div>
        </div>
        <%- include(rootPath + 'partials/footer'); %>
    </body>
</html>
